ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    letter-spacing: 1.2px;
}

ul.topnav li a:hover:not(.active) {
    background-color: orangered;
}

ul.topnav li.right {
    float: right;
}

ul.topnav li button {
    display: block;
    background: #333;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    letter-spacing: 1.2px;
    border:none;
}
ul.topnav li button:hover {
    background-color: orangered;
}
.raz{
    margin:35px;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
  ul.topnav li {
      float: none;
    }
    ul.topnav li button {
       width:100%
    }
  
    ul.topnav {
      height: 50px;
    }
  
    ul.topnav:hover {
      height: auto;
    }

  }


  